@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #071739;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;   
  animation: background-scroll 6s infinite;
  animation-timing-function: linear;
}

/* Player body */

.music-player {
  margin-top: 25rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
  background: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.19),
    0 6px 6px -10px rgba(0, 0, 0, 0.23);
}

/* Controls */

.music-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.music-player--controls .play-btn {
  padding: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.play-btn:focus {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.play-btn:hover {
  transform: scale(1.2);
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.music-player--controls .skip-btn {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}
.skip-btn:focus {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.skip-btn:hover {
  /* transform: scale(1.5); */
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.music-player--controls .new-song-btn {
  padding: 0.7rem;
  margin-left: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.new-song-btn:focus {
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.new-song-btn:hover {
  /* transform: scale(1.5); */
  color: rgba(171, 2, 26, 0.95);
  opacity: 1;
  box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}
